@media (max-width: 1024px) {
  .extensions-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .extensions-list {
    display: block;
  }

  .extensions-list .card:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media (max-width: 425px) {
  body {
    padding: 2.5rem 3%;
  }

  .extensions-filter {
    flex-direction: column;
    align-items: center;
  }

  .extensions-filter ul {
    padding: 0;
  }
}
