:root {
    --neutral-900: #09153eff;
    --neutral-800: #212636ff;
    --neutral-700: #2f364bff;
    --neutral-600: #545969ff;
    --neutral-300: #c7c7c7ff;
    --border-dark: rgba(214, 226, 245, 0.2);
    --border-light: #d6e2f5ff;
    --neutral-100: #edededff;
    --neutral-0: #fbfdfeff;
    --red-400: #f25c54ff;
    --red-500: #de473fff;
    --red-700: #c7221aff;
    --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}